.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: var(--softTextColor);
  justify-content: space-between;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo {
  font-size: 32px;
}

.desc {
  text-align: justify;
}

.icons {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {
  .links {
    font-size: 14px;
  }
}
